<div class="show-game">
  <h2>Details for Game <%= @game.id %></h2>

  <h4>Players:</h4>
  <ul>
    <%- @game.players.each do |player| %>
      <li><%= player.username %></li>
    <%- end %>
  </ul>

  <%= content_tag :ul, class: @presenter.header_row.css_class do %>
    <%- @presenter.header_row.squares.each do |square| %>
      <%= content_tag :div, square.value, class: square.css_class %>
    <%- end %>
  <%- end %>

  <%- @presenter.rows.each_with_index do |row, row_index| %>
    <%= content_tag :div, class: 'row-including-legend' do %>
      <%= content_tag :div, class: 'y-axis-legend-square legend-square square' do %>
        <%= Game::ROW_INDICES[row_index] %>
      <%- end %>
      <%= content_tag :ul, class: row.css_class do %>
        <%- row.squares.each do |square| %>
          <%= content_tag :div, square.value, class: square.css_class %>
        <%- end %>
      <%- end %>
    <%- end %>
  <%- end %>
</div>
